* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #F6FAFD;
    --bg-secondary: linear-gradient(286.17deg, #218BDB 0%, #69B8F4 100%);;
    --bg-white: #FFFFFF;
    --bg-gray: #C4C4C4;
    --bg-complete: #E4F3F9;
    --bg-button-primary: linear-gradient(286.17deg, #FFC02D 0%, #FFF494 100%);
    --bg-button-primary-hover: linear-gradient(286.17deg, #FD9F30 0%, #FFE68E 100%);
    --bg-button-secondary: linear-gradient(286.17deg, #218BDB 0%, #69B8F4 100%);
    --bg-button-secondary-hover: linear-gradient(286.17deg, #218BDB 0%, #69B8F4 100%);
    --clr-primary: #434548;
    --clr-secondary: #218BDB;
    --clr-positive: #68CFBF;
    --clr-warning: #FFC02D;
    --clr-danger: #DC6D67;
    --clr-light25: #C9CCD0;
    --clr-light40: #B4B5B6;
    --clr-white: #FFFFFF;
    --bdr-color: rgba(67, 69, 72, 0.2);
}

body {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--clr-primary);
    
    height: 100vh;
    background: var(--bg-primary);
}

.signup-card {
    padding: 2.5em;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background: var(--bg-white);
}

.card-title {
    margin-bottom: 1em;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.account-type {
    font-size: 1.25rem;
    line-height: 2.5rem;
}

.input {
    margin-bottom: 1em;
}

.form-input {
    font-size: 1rem;
    line-height: 1.5em;

    border: 1px solid var(--bdr-color);
    border-radius: 24px;
    width: 100%;
    padding: 0.75em 1.5em;
}

.or-separator {
    display: flex;

    font-weight: 700;
    line-height: 1.5em;

    margin: 1.5em 0;
}

.or-separator:before, 
.or-separator:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid var(--clr-light40);
    margin: auto;
}

.or-separator:before {
    margin-right: 1em;
}

.or-separator:after {
    margin-left: 1em;
}

.login-with-btn {
    padding: 1em 0;
    border-radius: 8px;
    border: none;
}

.btn-apple {
    background: #000000;
}

.btn-fb {
    background: #4167B1;
}

.btn-google {
    background: #4385F5;
}

.tnc-card {
    font-size: 0.875rem;
    line-height: 1.5rem;

    padding: 1.5rem;
    margin: 1.5em 0;
    border-radius: 8px;

    background: rgba(67, 69, 72, 0.1);
}

.btn-primary {
    width: 100%;
}

.login-text {
    font-size: 0.75rem;
    line-height: 1rem;

    margin-top: 0.5rem;
    text-align: center;
}

/* --- Utility and Components --- */

/* Utilities */

.row {
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: 700;
}

.light-40 {
    color: var(--clr-light40);
}

.bold-link {
    font-weight: 700;
    color: var(--clr-primary);
}

.btn {
    cursor: pointer;
    transform: scale(1);
    transition: transform 250ms;
}

.btn:hover,
.btn:focus {
    transform: scale(1.05);
}

.btn-primary {
    color: var(--clr-primary);
    font-weight: bold;
    
    border-radius: 28px;
    border: none;

    background: var(--bg-button-primary);
}

.btn-primary:hover,
.btn-primary:focus {
    color: var(--clr-white);
    background: var(--bg-button-primary-hover);
}

.btn-secondary {
    color: var(--clr-white);
    font-weight: bold;
    
    border-radius: 28px;
    border: none;

    background: var(--bg-button-secondary);
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--clr-white);
    background: var(--bg-button-secondary-hover);
}

.btn-large {
    font-size: 0.875rem;
    height: 56px;
}

.btn-med {
    font-size: 0.875rem;
    height: 40px;
}

.btn-small {
    font-size: 0.625rem;
    height: 32px;
}

.blue-bold {
    font-weight: 700;
    color: var(--clr-secondary)
}

/* --- Design --- */

.arken-logo {
    position: absolute;
    top: 40px;
    left: 40px;
    margin-bottom: 0;
    z-index: -1;
}

.background-image {
    position: absolute;
    z-index: -2;
}

.blue-blur-bl {
    bottom: 0px;
    left: 0px;
}

.blue-blur-tr {
    top: 0px;
    right: 0px;
}

.blue-container {
    border: 3px blue solid;
}